body {
  margin-left: 150px; 
  margin-right: 150px; 
  background-color: rgba(255, 162, 153, 1);
}
#mapid { 
  height: 500px; 
  border: 1px;

}
.logo {
  height: 200px; 
  margin: auto;
  padding: 0px; 
}
.tab-content {
  background-color: white; 
}

  

li {
  display: inline;
 
}
footer {
  border: 2px solid; 
  text-align: center;
}
/* Media queries */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  footer {
    position: fixed; 
    width: 100%;
  }
  body {
    margin: none;
  }

}